/* src/components/chart/Chart.css*/

.ChartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; 
    width: 100%;
}

.ChartWrapper {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Chart {
    width: 100%;
    height: 400px;
    position: relative;
}

.Chart:not(:last-child) {
    padding-right: 1em; 
}

.Chart:last-child {
    padding-left: 1em; 
}

.Chart:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 2px;
    background-color: #ECEEF6;
}

.ChartHeading {
    margin-top: 10px;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}