.Header {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid #E6EBF3;
}

.headerLogo {
    display: flex;
    justify-content: center;
    width: 240px;
}

.headerLogo svg {
    height: 2em;
}