.camera-feed-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 20px;
  position: absolute;
}

.camera-feed {
  position: relative;
  width: 48%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.divider {
  width: 2px; 
  height: 100%; 
  background-color: grey; 
  margin: 0 10px; 
}

.camera-label {
  margin-top: 10px; 
  background: rgba(253, 250, 250, 0.5);
  color: #060000;
  padding: 5px 10px;
  border-radius: 3px;
  text-align: center;
  display: flex;
}

.show-all {
  position: absolute;
  top: 0px;
  right: 20px;
}

.show-all a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.show-all a:hover {
  text-decoration: underline;
}
